[geometry]
# inclination and position angle to be feed in degrees
pa              = 45.0
incl            = 30.0
# miss-center of the fiber to be feed in arcsec
x0              = 0.0
y0              = 0.0
# Systemic velocity to be passed in km s^-1
Vsys            = 0.0
# redshift
z               = 0.5



[models]
# flux model
fm              = exp
# central surface brigthness in arbitrary units
I0              = 100.0
# scale-length or characteristic radius in [kpc]
rdf             = 5.0
# truncation radius [kpc]
rt              = 30.0
# velocity model
vm              = exp
# maximum rotation velocity in [km s^-1]
vmax            = 180
# scale-length or characteristic radius in [kpc]
rdv             = 3.0
# central wavelength of the emission line at rest frame in [Angstrongs]
lambda0         = 6562.8
# velocity dispersion of the emmiters in [km s^-1] (broadening of the lines)
v_disp 



[instrument]
# mode of the instrument to be mimicked. It defines the wavelength range,
# spectral resolution, and size of the spectral pixels in [Angstrongs]
mode            = nir
# PSF at FWHM, given in arcsec
psf             = 0.75
# size of the spatial pixel in kpc
pixsize         = 0.200
# Diameter of the fiber in arcsec
fiber           = 1.1



[environment]
# block projected to deal with the variables related to the fylesystem
path            = notusedyet
filename        = notusedyet



