# miss center (x0,y0) in arcsec
[geometry]
incl			= 30.0
x0				= 0.0
y0              = 0.0
pa				= 45.0
Vsys			= 0.0
z				= 0.676

# scalelengths in kpc
# velocities in km s^-1
# Flux in arbitrary units
[models]
fm				= exp
I0				= 100.0
rdf				= 5.0
rt				= 30.0
vm				= exp
vmax			= 180
rdv				= 3.0
lambda0			= 6562.8
v_disp			= 50.0

# psf and fiber in arcsec
# pixsize in kpc
[instrument]
mode			= nir
psf				= 0.75
pixsize			= 0.200
fiber			= 1.1

[environment]
path			= notusedyet
filename		= notusedyet


