# params incl, pa, x0, y0, Vsys are
# arbitrary for this example
[geometry]
incl			= 75.0
x0				= 0.0
y0              = 0.0
pa				= 45.0
Vsys			= 0.0
z				= 1.4

# All values in this block are
# arbitrary for this example
[models]
fm				= exp
I0				= 100.0
rdf				= 5.0
rt				= 30.0
vm				= exp
vmax			= 180
rdv				= 3.0
lambda0			= 6562.8
v_disp			= 50.0

# the mode "test_z_1.4" was added
# to the read_params file for this
# specific test
[instrument]
mode			= test_z_1.4
psf				= 0.75
pixsize			= 0.200
fiber			= 1.1

[environment]
path			= notusedyet
filename		= notusedyet


